repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      # Run the linter.
      - id: ruff-check
        language: system
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
        language: system

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        language: system
        entry: ./frontend/node_modules/eslint/bin/eslint.js --config frontend/eslint.config.mjs --fix --max-warnings 0
        require_serial: true
        files: \.(ts|tsx)$
      - id: prettier
        name: prettier
        language: system
        entry: ./frontend/node_modules/prettier/bin/prettier.cjs --write --list-different
        require_serial: true
        files: \.(ts|tsx|mjs|js|less|ya?ml|md)$
